@using TaskApp.ViewModels
@model EditUserProfileViewModel


<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id">
    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" type="text" class="form-control" aria-describedby="emailHelp" placeholder="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" type="text" class="form-control" aria-describedby="emailHelp" placeholder="State">
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <input asp-for="Country" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Country">
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Profile Image</label>
        <input asp-for="Image" type="file" class="form-control" aria-describedby="emailHelp" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>